.container {
	display: flex;
	justify-content: center;
	/* flex-direction: row; */
	align-items: center;
	height: 100vh;
	gap: 30px;
}

#signup-form-container {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	gap: 10px;
	height: 400px;
}

#signup-form-container h1 {
	margin-top : 0px;
}

#signup-logo {
	height: 400px;
	width: 400px;
}

.signup-btn {
	padding: 20 10;
	background-color: skyblue;
}

#signup_error {
	color: red;
}